<h1>All the CATS!!!!!!!!</h1>

<ol>
    
   <table >
	<tbody>
		<tr>
			<td>id</td>
			<td>birth date</td>
			<td>color</td>
			<td>name</td>
			<td>sex</td>
            <!--
			<td>description</td>
            <td>updated at</td>
            <td>created at</td>
            -->
		</tr>
        <%@cats.all.each do |cat|%>
		<tr>
			<td><%= cat.id %> </td>
			<td><%= cat.birth_date %> </td>
			<td><%= cat.color %> </td>
			<td><%= cat.name %> </td>
			<td><%= cat.sex %> </td>
            <!--
			<td><%#= cat.description %> </td>
			<td><%#= cat.updated_at %> </td>
            <td><%#= cat.created_at %> </td>
            -->
		</tr>
        <br>
	</tbody>
</table>
    <% end %>

</ol>